body{
	background: #ffff;
}

body{
	font-family: Courier;
	color: black;
	font-size: 1.2rem;
	line-height: 1.6em;	
	margin: 0;
}


.container{
	width: 100%;
	max-width: 980px;
	margin: 0;
	
}


.header{
	background: #1E120D;
	color: white;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	
}
.carrusel{
	padding-top: 10rem;
}
.carrusel img{
	
	display: block;
	margin: auto;
}
.main{
	padding-top: 16rem;
}

.header a{
	color: white;
	text-decoration: none;
}
.container{
	display:flex;
	justify-content:space-between;
	align-items: center;
	flex-wrap: wrap;
	text-align: center;
	
}
.container{
	
	
	
}


.navigation ul{
	margin: 0;
	padding: 0;
	list-style: noen;
	
	text-align: center;
	
}

.navigation ul li{
	display: inline-block;
	
	
}

.navigation ul li a{
	display: block;
	padding: 0.5rem 1rem;
	transition: all 0.4s linear;
	border-radius: 5px;

	
}

.navigation ul li a:hover {
	background: #4a4a4a; 
}

.footer {
	
	padding: 2rem 0;
	text-align: center; 	
}

.footer nav{

	margin: 30px;

	float: left;
}
.menu-icon{
	display: none;
	
}


@media only screen and (max-width: 824px) {
	.menu-icon{
		display: block;
		cursor: pointer;
		padding: 0.5rem 1rem;
	}
	
	.navigation{
		width: 100%;
		margin-top: 1rem;
	}
	.navigation ul{
		display: none;
	}
	.navigation ul.show{
		display: block;
	}
	.navigation ul li{
		display: block;
	}
	.navigation{
		display: block;
		padding: 0.5rem 0;
	}	
	
	
}